<div class="heading-image">
  <img src="/images/logos/current-sessions-logo2-inversed.png"/>
</div>
<div class="admin-video-options">
  <%= button_to "Log Out", {:controller => :admins, :action => "exit"}, :method => :get, :class => "btn btn-small btn-inverse" %>
  <div class="admin-navigation-background">
    <ul class="nav nav-pills" id="admin-navigation">
      <li class="admin-navigation-item active">
        <a href="/admin">Sessions</a>
      </li>
      <li class="admin-navigation-item">
        <a href="/admin/admins">Admins</a>
      </li>
    </ul>
  </div>
  <p> 
    <%= button_to "\t\t\t\t\tRefresh All Vimeo Data\t\t\t\t\t", {:controller => :videos, :action => "refresh"}, :method => :put, :class => "btn btn-small btn-info"   %>
  </p>
</div>

<div class="alert alert-block alert-success admin-sessions-explanation">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h3><p>Hey There! Here's how things work around here</p></h3>
  <ul>
    <li>
      <p>Upload any video to vimeo: <a href="https://vimeo.com/" target="_blank">www.vimeo.com</a></p>
    </li>
    <li>
      <p>Your videos will automatically show up here. If your video isn't here, hit the refresh button.</p>
    </li>
    <li>
      <p>Videos must be processed in order to be displayed. To check if a video is done processing, hit the refresh button.</p>
    </li>
    <li>
      <p>Upload Images and add the Location of each shoot</p>
    </li>
    <li>
      <p>If you need to change the title or description, hit edit</p>
    </li>
    <li>
      <p>When you think you're ready. Set the video to be displayed by hitting "Show Video"!</p>
    </li>
  </ul>
  <br/ > 
  <p style="text-align:center;">
    <img src="/images/purple-square.png" width="25" height="25"/> Still Processing
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    <img src="/images/orange-square.png" width="25" height="25"/> Not Launched 
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    <img src="/images/blue-square.png" width="25" height="25"/> Launched
  </p>
  <br/ >
</div>

<% @videos.each do |video| %>
  <%= render :partial => 'partials/admin_session_cell', :object => video %>
<% end %>