<div class="locked-out">
  <div class="heading-image">
    <img src="/images/logos/current-sessions-logo2-inversed.png"/>
  </div>

  <p style="color:white; text-align:center;">
    Sorry, but you are not an approved admin. Please Go to <a href="/contact"> our contact page</a> to ask to be approved
  </p>

</div>