<li class="span4 session-image">
  <a href="<%=admin_session_cell_image.photo.url(:large)%>" target="_blank" class="thumbnail">
    <img src="<%=admin_session_cell_image.photo.url(:large)%>" width="300px" height="200px" alt="">
  </a>
  <%= button_to "delete", {:controller => :video_photos, :action => "destroy", :id => admin_session_cell_image.id }, :method => :delete, :class => "btn btn-small btn-danger" %>   
</li>