<footer id="page-footer"> 
  <div style="width:115px;margin-left:auto;margin-right:auto;">
    <a href="https://twitter.com/CurrentSesh" target="_blank">
      <img width="55" height="55" src="/images/link-icons/t_logo.png"/>
    </a> 
    <a href="http://www.facebook.com/CurrentSessionsProductions%>" target="_blank">
      <img width="55" height="55" src="/images/link-icons/f_logo.png"/>
    </a> 
  </div>
  <br/>

  <p>
    Website built and maintained exclusively by Peter Kennedy <br/>
    <a href="http://www.peterjskennedy.com/" target="_blank">www.peterjskennedy.com</a>
  </p>
</footer> 