<div class="about-background">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3  col-xs-12">
      
      <div class="heading-image">
        <a href="/">
          <img src="/images/logos/current-sessions-logo2-inversed.png"/>
        </a>
      </div>
    </div>
  </div>

  <div class="navigation well">
    <div class="row">
      <div class="col-lg-3 col-sm-3 col-xs-6">
        <a href="/" data-page="sessions" class="span2 navigation-item" id="nav-sessions">
          Sessions
        </a>  
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-6">
        <a href="/about" data-page="about" class="span2 navigation-item selected" id="nav-about">
          About
        </a>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-6">
        <a href="/contact" data-page="contact" class="span2 navigation-item" id="nav-contact">
          Contact
        </a>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-6">
        <a href="/downloads" data-page="blog" class="span2 navigation-item" id="nav-blog">
          Downloads
        </a>
      </div>
    </div>
  </div>

  <br />
  <br />

  <div id="about-container">
    <div class="row">
      <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-4 col-xs-12">
        <div class="well">
          <h3> The Team </h3>

          <hr />

          <blockquote>Marco Carboni</blockquote>
          <p class="lead">Producer</p>
          <hr />

          <blockquote>Nicholas Posthumus</blockquote>
          <p class="lead">Director</p>
          <hr />

          <blockquote>Brody Currie</blockquote>
          <p class="lead">Location Audio/Video Editor</p>
          <hr />

          <blockquote>Joey Assaad</blockquote>
          <p class="lead">Camera Operator</p>
          <hr />

          <blockquote>Dave Barron</blockquote>
          <p class="lead">Driver</p>
          <hr />

          <blockquote>Peter Kennedy</blockquote>
          <p class="lead">Web Developer</p>
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
        <div class="well">

          <h2 style="text-align:center;">Finding new music and what inspires it</h2>

          <hr/>      

          <p class="lead">

            Every artist has a home and we don’t mean four walls and a roof.  Current Sessions Productions is a company that is dedicated to bridging Canada through its rich musical culture. We bring Canadian artists outdoors and connect their music with the neighborhoods and environments that inspire it most. 
            <br/><br/>
            Current Sessions Productions is currently planning to take our crew on the road and travel from coast to coast. We aim to reach each corner of Canada to find it’s unique musical sound and even more unique scenery. This cross-country tour will immerse the sound into the scenery to form a one of the kind, live, musical experience that is Canadian music. We want Canadians to be proud of this country's music and it’s stunning terrain.

          </p>
          <blockquote>
            <small>The Current Sessions Team</small>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>