<div class="about-background">
  <div class="heading-image">
    <img src="/images/logos/current-sessions-logo2-inversed.png"/>
  </div>

  <div class="navigation">
    <div class="row">
      <a href="/" data-page="sessions" class="span2 navigation-item-inversed" id="nav-sessions">
        Sessions
      </a>
      <a href="/about" data-page="about" class="span2 navigation-item-inversed selected-inversed" id="nav-about">
        About
      </a>
      <a href="/contact" data-page="contact" class="span2 navigation-item-inversed" id="nav-contact">
        Contact
      </a>
      <a href="/blog" data-page="blog" class="span2 navigation-item-inversed" id="nav-blog">
        Blog
      </a>
    </div>
  </div>

  <br />
  <br />

  <hr style="margin-top:-20px;margin-left:auto;margin-right:auto"  size="2" width="700px" align="center" color="black"/>

  <div id="about-container">
    <div class="row">
      <div class="span4 offset1 well">
        <h3> The Team </h3>

        <hr />

        <blockquote>Marco Carboni</blockquote>
        <p class="lead">Producer</p>
        <hr />

        <blockquote>Nicholas Posthumus</blockquote>
        <p class="lead">Director</p>
        <hr />

        <blockquote>Brody Currie</blockquote>
        <p class="lead">Location Audio/Video Editor</p>
        <hr />

        <blockquote>Joey Assaad</blockquote>
        <p class="lead">Camera Operator</p>
        <hr />

        <blockquote>Dave Barron</blockquote>
        <p class="lead">Driver</p>
        <hr />

        <blockquote>Peter Kennedy</blockquote>
        <p class="lead">Web Developer</p>

      </div>
      <div class="span7 offset1 well">

        <h3 style="text-align:center;">Water conservation awareness through the promotion of independent Canadian music</h3>

        <hr/>      

        <p class="lead">

          Current Sessions is a non-for-profit production initiative. The goal of this collection of video recording sessions is to raise awareness for Canadian freshwater preservation and appreciation while simultaneously highlighting independent Canadian musicians. We want Canada to be proud of its bountiful resources, including its gifted musicians. It is important to us to preserve Canada’s freshwater ecosystems and its musical culture.

          <br/><br/>          

          Our project will float talented independent Canadian musicians down many endangered bodies of water throughout Canada on a handcrafted raft. Our aim is to record and video each of the musicians on the raft to make each session a brilliant mixture of live music and beautiful Canadian landscapes.

          <br/><br/> 

          Current Sessions Productions is currently looking for sponsorship and funding to accomplish our cross-country tour. If you’re interested in donating to our cause we would love to hear from you! Every little bit helps.

        </p>
        <blockquote class="pull-right">
          <small>The Current Sessions Team</small>
        </blockquote>
      </div>
    </div>
  </div>
</div>