<div class="about-background">
  <div class="heading-image">
    <img src="/images/logos/current-sessions-logo2-inversed.png"/>
  </div>

  <div class="navigation">
    <div class="row">
      <a href="/" data-page="sessions" class="span2 navigation-item-inversed" id="nav-sessions">
        Sessions
      </a>
      <a href="/about" data-page="about" class="span2 navigation-item-inversed selected-inversed" id="nav-about">
        About
      </a>
      <a href="/contact" data-page="contact" class="span2 navigation-item-inversed" id="nav-contact">
        Contact
      </a>
      <a href="/blog" data-page="blog" class="span2 navigation-item-inversed" id="nav-blog">
        Blog
      </a>
    </div>
  </div>

  <br />
  <br />

  <hr style="margin-top:-20px;margin-left:auto;margin-right:auto"  size="2" width="700px" align="center" color="black"/>

  <div id="about-container">
    <div class="row">
      <div class="span4 offset1 well">
        <h3> The Team </h3>

        <hr />

        <blockquote>Marco Carboni</blockquote>
        <p class="lead">Producer</p>
        <hr />

        <blockquote>Nicholas Posthumus</blockquote>
        <p class="lead">Director</p>
        <hr />

        <blockquote>Brody Currie</blockquote>
        <p class="lead">Location Audio/Video Editor</p>
        <hr />

        <blockquote>Joey Assaad</blockquote>
        <p class="lead">Camera Operator</p>
        <hr />

        <blockquote>Dave Barron</blockquote>
        <p class="lead">Driver</p>
        <hr />

        <blockquote>Peter Kennedy</blockquote>
        <p class="lead">Web Developer</p>

      </div>
      <div class="span7 offset1 well">

        <h3 style="text-align:center;">Water conservation awareness through the promotion of independent Canadian music</h3>

        <hr/>      

        <p class="lead">

          Every artist has a home and we don’t mean four walls and a roof.  Current Sessions Productions is a company that is dedicated to bridging Canada through its rich musical culture. We bring Canadian artists outdoors and connect their music with the neighborhoods and environments that inspire it most. 
          <br/><br/>
          Current Sessions Productions is currently planning to take our crew on the road and travel from coast to coast. We aim to reach each corner of Canada to find it’s unique musical sound and even more unique scenery. This cross-country tour will immerse the sound into the scenery to form a one of the kind, live, musical experience that is Canadian music. We want Canadians to be proud of this country's music and it’s stunning terrain.

        </p>
        <blockquote class="pull-right">
          <small>The Current Sessions Team</small>
        </blockquote>
      </div>
    </div>
  </div>
</div>