
<div class="row">
  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3  col-xs-12">
    
    <div class="heading-image">
      <a href="/">
        <img src="/images/logos/current-sessions-logo2-inversed.png"/>
      </a>    </div>
  </div>
</div>
<div class="navigation well">
  <div class="row">
    <div class="col-lg-3 col-sm-3 col-xs-6">
      <a href="/" data-page="sessions" class="span2 navigation-item" id="nav-sessions">
        Sessions
      </a>  
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-6">
      <a href="/about" data-page="about" class="span2 navigation-item" id="nav-about">
        About
      </a>
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-6">
      <a href="/contact" data-page="contact" class="span2 navigation-item" id="nav-contact">
        Contact
      </a>
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-6">
      <a href="/downloads" data-page="blog" class="span2 navigation-item" id="nav-blog">
        Downloads
      </a>
    </div>
  </div>
</div>

<h3 class="text-center"> Sorry, you are not an approved admin, please contact someone who is </h3>
