
<div class="heading-image">
  <img src="/images/logos/current-sessions-logo2-inversed.png"/>
</div>

<div class="navigation well">
  <div class="row">
    <a href="/" data-page="sessions" class="span2 navigation-item" id="nav-sessions">
      Sessions
    </a>
    <a href="/about" data-page="about" class="span2 navigation-item" id="nav-about">
      About
    </a>
    <a href="/contact" data-page="contact" class="span2 navigation-item selected" id="nav-contact">
      Contact
    </a>
    <a href="/blog" data-page="blog" class="span2 navigation-item" id="nav-blog">
      Blog
    </a>
  </div>
</div>


<hr style="margin-top:-20px;margin-left:auto;margin-right:auto"  size="2" width="700px" align="center" color="black"/>

<div id="contact-container"></div>
