

<div class="inputter">
  <h1> Current Sessions! </h1>
  <form method="POST" action="http://1.2.3.4/upload_multi?ticket_id=abcdef124567890" enctype="multipart/form-data">
    <input type="hidden" name="ticket_id" value="abcdef124567890" />
    <input type="hidden" name="chunk_id" value="0" />
    <input type="text" name="file_name" /><br />
    <input type="file" name="file_data" /><br />
    <input type="submit" value="Upload" class="btn submit"/>
  </form>
</div>