<!-- <div id="main-container"></div> -->
<div class="coming-soon">
  <p class="upper-title">CurrentSessions</p>
  <div class="current-sessions-header"></div>
  <p class="lower-title">Productions</p>
  <p class="coming-soon-motto">NewMusic FreshWater</p>
  <p class="coming-soon-title">ComingSoon</p>
  
</div>

<div class="footer">
    <a class="link-icon" id="twitter-link" href="https://twitter.com/CurrentSesh" target="_blank"><img width="55" height="55" src="assets/link-icons/twitter-small.png" /></a> 
    <a class="link-icon" id="facebook-link" href="http://www.facebook.com/CurrentSessionsProductions" target="_blank"><img width="51" height="51" src="assets/link-icons/facebook-small.png" /></a> 
  </div>