<!-- <div id="main-container"></div> -->
<div class="coming-soon">
  <img src='../assets/current-sessions-logo-inversed.png' width="400px"/>
  <br/><hr class="line-1"/>
  <br/><hr class="line-2"/>

  <p>coming soon</p>
  <p id="coming-soon-counter"></p>
</div>

<script type="text/javascript">
  startLoading()
  function iterateDots(){
    var el = document.getElementById("coming-soon-counter");
    var dotsStr = el.innerHTML;
    var dotsLen = dotsStr.length;
    var maxDots = 4;
    el.innerHTML = (dotsLen < maxDots ? dotsStr + '.' : '');
  }

  function startLoading(){
    var intervalMs = 450;
    var interval = setInterval("iterateDots()", intervalMs);
  }  
</script>