<% @person = [{:file_loc => '', :name => ''}] %>

<div class="inputter">
  <h1> Current Sessions </h1>
  <%= form_tag({:action => :upload}, :multipart => true) do %>
    <%= file_field_tag 'file_loc' %>
    <%= submit_tag 'Penis' %>
  <% end %>
</div>


