.contact-heading {
  width: 100%;
  text-align: center;
  font-family:"ProximaNovaLtRegular";
  text-shadow: 1px 2px 30px #000000;
  filter: dropshadow(color=#000000, offx=1, offy=2);
  color: white;
  line-height:150% ;
  font-size: 23px;
}

.email-area {
  width: 100%;
  text-align: center;
}

#sender-body {
  width: 100%;
  max-width: 100%;
}

.submit-button-container {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.submit-button {
  width: 350px;
}

.response{
  margin-top: 20px;
}

#emailer {
  color: white;
}

.contact-information {
  address {
    text-align:center;

    background-color:white;
    padding: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
  }
}