ul#admin-sessions-container {
  list-style-type: none;
  padding: 10px;
  margin: 0px;
  border-radius: 5px;
}

.video-sortable {
  border: 1px solid #e2e2e2;
  min-height: 80px;
  margin: 20px;
  padding: 15px;
  background: white;
  border-radius: 6px;

  
  .row {
    margin: 0px;
  }
  i {
    cursor: pointer;
  }

}

.video-sortable, .admin-session-show {
  border-left: solid 10px rgb(78, 38, 137);
  border-right: solid 10px rgb(78, 38, 137);
}
.video-sortable.displayed, .admin-session-show.displayed {
  border-left: solid 10px rgb(142, 207, 238);
  border-right: solid 10px rgb(142, 207, 238);
}
.video-sortable.processed, .admin-session-show.processed {
  border-left: solid 10px rgb(209, 102, 0);
  border-right: solid 10px rgb(209, 102, 0);
}

.hidden {
  display: none;
}

