
.admin-video-title {
  height: 60px;
  background-color: rgb(161, 222, 241);
  -webkit-border-radius: 20px 20px 0px 0px;
  border-radius: 20px 20px 0px 0px;
  p {
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    color:black;
  }
}

.admin-video-cell {

  .admin-video-cell-date {
    margin-top: 10px;

    p {
      text-align: center;
      font-style:italic;
      font-size: 25px;
    }

  }

  .admin-video-frame {
    text-align:center;
  }

  .admin-video-cell-description{
    font-size: 25px;
    color: white;
    margin: 30px;
    margin-bottom: 50px;
  }

  color: white;
  margin: 20px;
  width: 800px;
  background-color: rgb(39,40,34);
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow:  0px 0px 30px 5px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 0px 30px 5px rgba(0, 0, 0, 0.5);

}

.delete-button-container {
  width: 100%;
  text-align:center;
}