// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: rgb(253, 255, 217);
}

.coming-soon {
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  position:absolute;
  background-color:black;
  text-align:center;
  img {
    margin-top:200px;
  }
  p {
    color:white;
    font-size:50px;
    font-family:"blake";
  }
  #coming-soon-counter {
    font-size: 100px;
    margin-left: 48%;
    text-align:left;
  }
  .line-1 {
    width:75%;
    margin-bottom:-35px;
    maring-top:-10px;
    margin-left:auto;
    margin-right:auto;
  }
  .line-2 {
    width:65%;
    margin-left:auto;
    margin-right:auto;
  }
}


.footer {
  position:fixed;
  bottom:0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.heading-image {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.inputter {
  background: rgb(39,40,34);
  padding: 20px;
  width: 1000px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  -webkit-box-shadow:  0px 0px 10px 10px rgba(0, 0, 0, .5);
  box-shadow:  0px 0px 10px 10px rgba(0, 0, 0, .5);
  -webkit-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
}

