// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.current-sessions-header {
  width: 400px;
  height: 140px;
  background-image:url('../assets/guitar.png');
  background-size:400px 140px;
  margin-left:auto;
  margin-right:auto;
  margin-top:30px;
}

.link-icon {
  float:left;
  margin-left:auto;
  margin-right:auto;
  width:55px;
}

.upper-title {
  z-index: 100;
  margin-top: 50px;
}

.lower-title {
  z-index: 100;
  margin-top: 30px;
}

.coming-soon-title {
  margin-top:80px;
}

.coming-soon-motto {
  margin-top: 250px;
}

.coming-soon {
  background-image: url('../assets/lake.png');
  background-size:  1800px;
  background-color:black;
  background-repeat:no-repeat;
  background-position:center;

  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  position:absolute;
  // background-color:rgb(70,70,70);
  text-align:center;
  img {
    margin-top:200px;
  }
  p {
    color:black;
    font-size:50px;
    font-family:"blake";
  }
  #coming-soon-counter {
    font-size: 100px;
    margin-left: 48%;
    text-align:left;
  }
  .line-1 {
    width:75%;
    margin-bottom:-35px;
    margin-top:-10px;
    margin-left:auto;
    margin-right:auto;
  }
  .line-2 {
    width:65%;
    margin-left:auto;
    margin-right:auto;
  }
}


.footer {
  position:fixed;
  bottom:0;
  width: 106px;
  margin-left: auto;
  margin-right: auto;
}

.heading-image {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.inputter {
  background: rgb(39,40,34);
  padding: 20px;
  width: 1000px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  -webkit-box-shadow:  0px 0px 10px 10px rgba(0, 0, 0, .5);
  box-shadow:  0px 0px 10px 10px rgba(0, 0, 0, .5);
  -webkit-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
}

