
p {
  font-family:"ProximaNovaLtRegular";
}

.heading-image {
  margin-left: auto;
  margin-right: auto;
  width: 80% !important;
  img {
    width: 100%;
  }
}

.navigation {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: transparent;
  max-width: 600px;  
  text-align:center !important;
  .navigation-item {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    cursor:pointer;
    font-family: "blake";
    font-size: 20px;
    color:black;
  }

  .navigation-item-inversed {
    cursor:pointer;
    text-align:center;
    font-family: "blake";
    font-size: 25px;
    color:white;
  }

  .selected-inversed {
    color: yellow;
    // text-shadow: 1px 2px 30px #FFFFFF;
    filter: dropshadow(color=#FFFFFF, offx=1, offy=2);
  }
  .selected {
    text-decoration:underline;
  }


}
